@import url('https://rsms.me/inter/inter.css');
html {
	font-family: 'Inter', sans-serif;
	height: 100%;
}

article {
	margin: 0 auto;
	max-width: 65em;
	height: 100%;
}

.topnav {
	float: center;
}

.topnav a {
	float: left;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 15px;
	border: solid 1px #999
}

.topnav div {
	float: right;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 15px;
}

h1.title {
	font-size: 200px;
	font-weight: 600;
	text-align: center;
	letter-spacing: 10px;
	margin-top: 225px;
	margin-bottom: 200px;
}

p {
	font-size: 20px;
	line-height: 35px;
	margin-bottom: 130px;
}

code, pre {
	background-color: #edf2e3;
}

pre {
	box-shadow: 0px 0px 0px #999;
	border: solid 1px #999 !important;
	font-size: 15px !important;
	font-weight: 300;
	background-color: white;
	padding: 20px !important;
}

code {
	font-family: monospace !important;
	white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
	line-height: 25px !important;
    background-color: white !important;
}

.bottom {
	height: 500px;
    display: table-cell;
	vertical-align: middle;
	text-align: center;
	align-content: center;
	align-items: center;
}
